.list
    max-width: 400px

.list-item
    padding: $list-padding
    border-top: 1px solid #ddd
    background-color: $list-bg
    list-style-type: none 
    
    &:hover
        box-shadow: 0 4px 16px rgba(0,0,0,0.2)
        cursor: pointer          
        z-index: 3