// Forms

form-validation($color)
    .feedback,
    .form-label
        color: $color       
    .form-input
        border-color: darken($color, 15%)
    .form-input,
    .input-borderless,
    .input-flat
        background-color: lighten($color, 90%)