html {
  font-size: 100%;
  height: 100%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  height: 100%;
  font-family: Lato;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: #666;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #555;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
ul,
li,
dl,
dt,
dd {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
input,
button,
select,
textarea {
  margin: 0;
  border-radius: 0;
}
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: 0;
}
.btn-default {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #444;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.3rem;
  box-shadow: 0 2px 3px #999;
  transition: all 0.2s ease-out;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #0082d0;
}
.btn-default:active {
  background-color: #00619c;
}
.btn-ghost {
  display: inline-block;
  font-size: 1.1rem;
  width: 100px;
  padding: 0.5rem;
  color: #444;
  background-color: #fff;
  border: 2px solid #444;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.btn-ghost:hover,
.btn-ghost:focus {
  background-color: #444;
  color: #fff;
}
.btn-ghost:active {
  background-color: #737373;
  color: #fff;
  border: 2px solid #737373;
}
.contact {
  display: flex;
  height: 100vh;
  width: 100%;
}
.contact .fd-info {
  flex: 0 1 50%;
  padding: 2rem;
}
.contact .fd-info .info-box h2 {
  font-family: Michroma;
  font-size: 2rem;
  font-weight: bold;
  color: #30746a;
  border-bottom: 5px solid #30746a;
  padding-bottom: 0.75rem;
  margin-bottom: 2rem;
}
.contact .fd-info .info-box p {
  font-size: 1.1rem;
}
.contact .fd-info .info-box .contact-details {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-top: 1.5rem;
}
.contact .fd-info .info-box .contact-details dt {
  font-weight: bold;
}
.contact .fd-info .info-box .contact-details dd {
  margin-bottom: 0.5rem;
}
.contact .contact-form {
  flex: 0 1 50%;
  padding: 2rem;
}
.contact .contact-form .form-group {
  width: 100%;
}
.contact .contact-form .form-group input,
.contact .contact-form .form-group textarea {
  width: 75%;
}
.contact .contact-form button {
  color: #30746a;
  border-color: #30746a;
}
.contact .contact-form button:hover {
  color: #fff;
  background-color: #30746a;
}
.demo {
  display: flex;
  flex-direction: row;
  background-color: #fbfbfb;
}
.demo .sidebar {
  order: 2;
  flex: 1;
  text-align: center;
}
.demo .demo-content {
  order: 1;
  width: 80%;
  padding: 1rem;
}
.demo .demo-content .example {
  width: 100%;
  background-color: #fff;
  border: 1px solid #30746a;
  border-left-width: 5px;
  padding: 2.5rem;
  margin: 1rem 0 2rem;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.demo .demo-content .inline-view {
  margin-bottom: 2.5rem;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("/static/fonts/glyphicons-halflings-regular.eot");
  src: url("/static/fonts/glyphicons-halflings-regular.eot?#iefix") format('embedded-opentype'), url("/static/fonts/glyphicons-halflings-regular.woff2") format('woff2'), url("/static/fonts/glyphicons-halflings-regular.woff") format('woff'), url("/static/fonts/glyphicons-halflings-regular.ttf") format('truetype'), url("/static/fonts/glyphicons-halflings-regular.svg") format('svg');
}
@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url("/static/fonts/Lato-Regular.eot");
  src: url("/static/fonts/Lato-Regular.woff2") format('woff2'), url("/static/fonts/Lato-Regular.woff") format('woff'), url("/static/fonts/Lato-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: url("/static/fonts/Lato-Bold.eot");
  src: url("/static/fonts/Lato-Bold.woff2") format('woff2'), url("/static/fonts/Lato-Bold.woff") format('woff'), url("/static/fonts/Lato-Bold.ttf") format('truetype');
}
@font-face {
  font-family: 'LatoLight';
  src: url("/static/fonts/Lato-Light.eot");
  src: url("/static/fonts/Lato-Light.woff2") format('woff2'), url("/static/fonts/Lato-Light.woff") format('woff'), url("/static/fonts/Lato-Light.ttf") format('truetype');
}
@font-face {
  font-family: 'RalewayRegular';
  src: url("/static/fonts/Raleway-Regular-webfont.eot");
  src: url("/static/fonts/Raleway-Regular-webfont.woff") format('woff'), url("/static/fonts/Raleway-Regular-webfont.ttf") format('truetype'), url("/static/fonts/Raleway-Regular-webfont.svg") format('svg');
}
@font-face {
  font-family: 'RalewayRegular';
  font-weight: 700;
  src: url("/static/fonts/Raleway-Bold-webfont.woff") format('woff'), url("/static/fonts/Raleway-Bold-webfont.ttf") format('truetype');
}
@font-face {
  font-family: 'Michroma';
  font-weight: 400;
  src: url("/static/fonts/Michroma.eot");
  src: url("/static/fonts/Michroma.woff") format('woff'), url("/static/fonts/Michroma.ttf") format('truetype');
}
.form-group {
  margin-bottom: 1rem;
}
.form-group.horizontal .form-input {
  display: inline-block;
  margin-left: 0.5rem;
}
.form-group.horizontal .form-label {
  width: 6%;
  text-align: right;
  margin-right: 1rem;
}
.form-input {
  display: block;
  position: relative;
  background-color: #fff;
  padding: 0.5rem 0.375rem;
  border: 2px solid #666;
  border-radius: 0.2rem;
  transition: all 0.4s ease-in-out;
}
.form-input:focus {
  box-shadow: 0 0 1px 1px #999;
}
.form-label {
  display: inline-block;
  font-size: 0.95rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.input-flat {
  display: block;
  padding: 0.5rem 0.375rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #444;
  transition: all 0.4s ease-in-out;
}
.input-flat:focus {
  background-color: #ddd;
}
.input-flat::-webkit-input-placeholder {
  font-size: 0.9rem;
  font-style: italic;
}
.input-flat::-moz-placeholder {
  font-size: 0.9rem;
  font-style: italic;
}
.input-flat:-ms-input-placeholder {
  font-size: 0.9rem;
  font-style: italic;
}
.input-flat:-moz-placeholder {
  font-size: 0.9rem;
  font-style: italic;
}
.input-borderless {
  display: block;
  background-color: #ddd;
  padding: 0.5rem 0.375rem;
  border: none;
  transition: all 0.4s ease-in-out;
}
.input-borderless:focus {
  background-color: #eee;
}
.input-borderless::-webkit-input-placeholder {
  font-size: 0.9rem;
  font-style: italic;
}
.input-borderless::-moz-placeholder {
  font-size: 0.9rem;
  font-style: italic;
}
.input-borderless:-ms-input-placeholder {
  font-size: 0.9rem;
  font-style: italic;
}
.input-borderless:-moz-placeholder {
  font-size: 0.9rem;
  font-style: italic;
}
.feedback {
  display: block;
  font-size: 0.9rem;
  margin-top: 2px;
}
.valid .feedback,
.valid .form-label {
  color: #08703c;
}
.valid .form-input {
  border-color: #075f33;
}
.valid .form-input,
.valid .input-borderless,
.valid .input-flat {
  background-color: #dbfceb;
}
.error .feedback,
.error .form-label {
  color: #982c1f;
}
.error .form-input {
  border-color: #81251a;
}
.error .form-input,
.error .input-borderless,
.error .input-flat {
  background-color: #f9e6e4;
}
.site-header {
  display: flex;
  align-items: center;
  width: auto;
  background-color: #000;
}
.site-header .logo {
  font-family: Michroma;
  color: #30746a;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.75rem 1rem 0.85rem;
  margin-right: 1rem;
  cursor: pointer;
}
.site-header .nav-links {
  display: flex;
  align-items: center;
}
.site-header .nav-links li {
  font-family: Michroma;
  color: #fbfbfb;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0.75rem 1.25rem;
  line-height: 2.2;
  border-left: 1px solid #30746a;
  transition: all 0.2s ease-out;
}
.site-header .nav-links li:last-child {
  border-right: 1px solid #30746a;
}
.site-header .nav-links li:hover {
  cursor: pointer;
  background-color: #30746a;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
  color: #eee;
}
.home .logo-block {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .logo-block .logo {
  font-family: Michroma;
  font-size: 5rem;
  color: #30746a;
  text-shadow: #c2e6e0 2px 2px 5px;
  animation: glow 0.75s ease-out;
}
.home .link-container {
  overflow: hidden;
  width: 100%;
}
.home .link-container .link-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
  border-bottom: 1px solid #30746a;
  animation: slidein 0.75s ease-out;
}
.home .link-container .link-block li {
  font-family: Michroma;
  font-weight: bold;
  letter-spacing: 1px;
  border-left: 1px solid #30746a;
  padding: 0.5rem 1.25rem 0.75rem;
  transition: background-color 0.2s ease-out;
}
.home .link-container .link-block li:last-child {
  border-right: 1px solid #30746a;
}
.home .link-container .link-block li:hover {
  background-color: #30746a;
  cursor: pointer;
}
.home .text-block {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.home .text-block p {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-style: italic;
}
@media only screen and (max-width: 975px) {
  .home .logo-block .logo {
    font-size: 4rem;
  }
  .home .text-block p {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 825px) {
  .home .logo-block .logo {
    font-size: 3rem;
  }
  .home .text-block p {
    font-size: 1rem;
  }
}
@-moz-keyframes slidein {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: none;
  }
}
@-webkit-keyframes slidein {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: none;
  }
}
@-o-keyframes slidein {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: none;
  }
}
@keyframes slidein {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: none;
  }
}
@-moz-keyframes glow {
  0% {
    text-shadow: none;
  }
  25% {
    text-shadow: #c2e6e0 0.5px 0.5px 2px;
  }
  50% {
    text-shadow: #c2e6e0 1px 1px 4px;
  }
  75% {
    text-shadow: #c2e6e0 1.5px 1.5px 6px;
  }
  90% {
    text-shadow: #c2e6e0 2px 2px 6px;
  }
}
@-webkit-keyframes glow {
  0% {
    text-shadow: none;
  }
  25% {
    text-shadow: #c2e6e0 0.5px 0.5px 2px;
  }
  50% {
    text-shadow: #c2e6e0 1px 1px 4px;
  }
  75% {
    text-shadow: #c2e6e0 1.5px 1.5px 6px;
  }
  90% {
    text-shadow: #c2e6e0 2px 2px 6px;
  }
}
@-o-keyframes glow {
  0% {
    text-shadow: none;
  }
  25% {
    text-shadow: #c2e6e0 0.5px 0.5px 2px;
  }
  50% {
    text-shadow: #c2e6e0 1px 1px 4px;
  }
  75% {
    text-shadow: #c2e6e0 1.5px 1.5px 6px;
  }
  90% {
    text-shadow: #c2e6e0 2px 2px 6px;
  }
}
@keyframes glow {
  0% {
    text-shadow: none;
  }
  25% {
    text-shadow: #c2e6e0 0.5px 0.5px 2px;
  }
  50% {
    text-shadow: #c2e6e0 1px 1px 4px;
  }
  75% {
    text-shadow: #c2e6e0 1.5px 1.5px 6px;
  }
  90% {
    text-shadow: #c2e6e0 2px 2px 6px;
  }
}
.list {
  max-width: 400px;
}
.list-item {
  display: block;
  position: relative;
  padding: 0.75rem;
  border-top: 1px solid #ccc;
  color: #333;
  background-color: #f8f8f8;
}
.list-item:hover {
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  cursor: pointer;
  z-index: 3;
}
.list-item:first-child {
  border-top: none;
}
.login {
  text-align: center;
}
.login input {
  width: 200px;
  margin: auto;
}
.register {
  text-align: center;
}
.register input {
  width: 200px;
  margin: auto;
}
.services {
  padding: 1rem;
}
.services h2 {
  font-family: Michroma;
  font-size: 2rem;
  font-weight: bold;
  color: #30746a;
  border-bottom: 5px solid #30746a;
  padding-bottom: 0.75rem;
  margin-bottom: 1rem;
  animation: slidein 1s ease-in-out;
}
.services p {
  width: 50%;
}
.services .services-list {
  margin-bottom: 2rem;
}
.services .services-list li {
  font-weight: bold;
  list-style: disc inside none;
}
@-moz-keyframes slidein {
  0% {
    margin-left: 100%;
  }
}
@-webkit-keyframes slidein {
  0% {
    margin-left: 100%;
  }
}
@-o-keyframes slidein {
  0% {
    margin-left: 100%;
  }
}
@keyframes slidein {
  0% {
    margin-left: 100%;
  }
}
.sidebar-links {
  color: #eee;
  background-color: #363636;
  letter-spacing: 1px;
}
.sidebar-links li {
  font-family: Michroma;
  padding: 0.5rem;
  border: 1px solid #000;
  box-shadow: 0 1px 5px rgba(255,255,255,0.7);
}
.sidebar-links li:hover {
  background-color: #262626;
  cursor: pointer;
}
.staff .staff-block {
  display: flex;
  align-items: center;
}
.staff .staff-block .staff-photo {
  flex: 0 1 25%;
  margin: 2rem;
  height: 300px;
}
.staff .staff-block .bio {
  flex: 0 1 35%;
}
