.btn-ghost
    set-btn-color()
    display: inline-block
    min-width: 15rem
    font-size: .7rem
    font-weight: bold
    text-transform: uppercase
    letter-spacing: 1px
    padding: 1rem 2rem
    //color: //#436B9E//$dark-gray
    //background-color: white
    border: 3px solid
    //border-color: #027188//#436B9E//$dark-gray
    text-align: center
    cursor: pointer
    transition: all .2s ease-out
    /*&:hover, &:focus
        background-color: #027188//#436B9E//$dark-gray
        color: white      
    &:active
        background-color: lighten($dark-gray, 25%)
        color: white
        border: 1px solid lighten($dark-gray, 25%)*/
