.contact
    display: flex
    height: 100vh
    width: 100%
    
    .fd-info
        flex: 0 1 50%
        padding: 2rem
        
        .info-box
        
            h2
                font-family: $fd-brand-font
                font-size: 2rem
                font-weight: bold
                color: $fd-teal
                border-bottom: 5px solid $fd-teal
                padding-bottom: .75rem
                margin-bottom: 2rem
                            
            p
                font-size: 1.1rem
                
            .contact-details
                font-size: .9rem
                text-transform: uppercase
                margin-top: 1.5rem
                
                dt
                    font-weight: bold
                
                dd
                    margin-bottom: .5rem
        
    .contact-form
        flex: 0 1 50%
        padding: 2rem
        
        .form-group
            width: 100%
            
            input, textarea
                width: 75%
                
        button
            color: $fd-teal
            border-color: $fd-teal
            &:hover
                color: white
                background-color: $fd-teal