.contact
    display: flex
    height: 100vh
    
    .fd-info
        flex: 0 1 50%
        padding: 2rem
        
        .info-box
            padding: 1rem 1.5rem
        
            h2
                font-family: 'Michroma'
                font-size: 2rem
                font-weight: bold
                color: #30746a
                border-bottom: 5px solid #30746a
                padding-bottom: .75rem
                margin-bottom: 2rem
                            
            p
                font-size: 1.1rem
                
            .contact-details
                font-size: .9rem
                text-transform: uppercase
                margin-top: 1.5rem
                
                dt
                    font-weight: bold
                
                dd
                    margin-bottom: .5rem
        
    .contact-form
        flex: 0 1 50%