.form-group
    margin-bottom: $input-margin-bottom
    &.horizontal
        .form-input
            display: inline-block
            margin-left: .5rem
        .form-label
            width: 6%
            text-align: right
            margin-right: 1rem

.form-input
    display: block
    position: relative
    background-color: $input-bg
    padding: $input-padding
    border: $input-border $input-border-color
    border-radius: $input-border-radius
    transition: $input-transition
    &:focus
        box-shadow: $input-focus-box-shadow $input-focus-box-shadow-color
    
.form-label
    display: inline-block
    font-size: $label-font-size
    font-weight: $label-font-weight
    margin-bottom: $label-margin-bottom
        
.input-flat
    display: block
    padding: $input-padding
    border-top: none
    border-left: none
    border-right: none
    border-bottom: $input-flat-border-bottom
    transition: $input-transition
    &:focus
        background-color: $input-flat-focus-bg
    style-placeholder()
        
.input-borderless
    display: block
    background-color: $input-borderless-bg
    padding: $input-padding
    border: none
    transition: $input-transition
    &:focus
        background-color: #eee
    style-placeholder()
        
.feedback
    display: block
    font-size: $feedback-font-size
    margin-top: $feedback-margin-top
  
.valid
    form-validation($valid-green)
    
.error
    form-validation($error-red)  