.site-header
    position: fixed
    top: 0
    width: 100%
    border-bottom: 1px solid #eee
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35)
    z-index: 100
    background: rgba(255,255,255,0.9)
        
    .logo
        display: inline-block
        float: left
        cursor: pointer

    .nav-links        
        display: flex
        justify-content: flex-end   
        align-items: center
        margin-right: 2rem

        li
            font-family: RalewayRegular
            color: #8894a0
            font-size: .8rem
            font-weight: bold
            letter-spacing: 2px
            text-transform: uppercase
            padding: 2rem 1.4rem
            line-height: 1em
            transition: all .2s ease-out
            &:hover
                cursor: pointer
                color: #626E7A

