.list
    max-width: 400px

.list-item
    display: block
    position: relative
    padding: .75rem
    border-top: 1px solid #ccc
    color: #333
    background-color: #f8f8f8
    
    &:hover
        box-shadow: 0 4px 16px rgba(0,0,0,0.2)
        cursor: pointer          
        z-index: 3
        
    &:first-child
        border-top: none