.services
    padding: 1rem
    
    h2
        font-family: 'Michroma'
        font-size: 2rem
        font-weight: bold
        color: #30746a
        border-bottom: 5px solid #30746a
        padding-bottom: .75rem
        margin-bottom: 1rem
    
    p
        width: 50%


    .services-list
        margin-bottom: 2rem
        
        li
            font-weight: bold
            list-style: disc inside none