.services
    padding: 1rem
    
    h2
        font-family: $fd-brand-font
        font-size: 2rem
        font-weight: bold
        color: $fd-teal
        border-bottom: 5px solid $fd-teal
        padding-bottom: .75rem
        margin-bottom: 1rem
        animation: slidein 1s ease-in-out
    
    p
        width: 50%

    .services-list
        margin-bottom: 2rem
        
        li
            font-weight: bold
            list-style: disc inside none

@keyframes slidein
    0%
        margin-left: 100%