.sidebar-links
    color: #eee
    background-color: #363636
    letter-spacing: 1px
    
    li
        font-family: 'Michroma'
        padding: .75rem
        border: 1px solid black
        box-shadow: 0 1px 5px rgba(255,255,255,0.7)
        &:hover
            background-color: darken(#363636, 30%)
            cursor: pointer