.staff
    
    .staff-block
        display: flex
        align-items: center
        
        .staff-photo
            flex: 0 1 25%
            margin: 2rem
            height: 300px
            
        .bio
            flex: 0 1 35%